<div class='gams-view'>
	<div class="no-file-hint" v-show="noTagHint"><pre>{{noTagHint}}</pre></div>
	<div class="tree-panel" v-show="!noTagHint && grammarScope=='source.gams'">
    <div class="gv-toolbox block">
      <div style="display:inline-block; vertical-align:top;height:30px;width:30px" class="inline-block-tight icon-left basic-button" value="lock" title="Backward" @click="moveCursor('back')"></div>
      <div style="display:inline-block; vertical-align:top;height:30px;width:30px" class="inline-block-tight icon-right basic-button" value="lock" title="Forward" @click="moveCursor"></div>
      <div style="display:inline-block; vertical-align:top;height:30px;width:30px" class="inline-block-tight basic-button" value="lock" title="Toggle lock symbol" @click="toggleLock" v-bind:class="{ 'icon-locked': locked, 'icon-unlocked': !locked}"></div>
      <div style="display:inline-block; vertical-align:top;height:30px;width:30px" class="inline-block-tight basic-button" value="lock" title="Run GAMS model" @click="toggleLock" v-bind:class="{ 'icon-run': !run, 'icon-pause': run}"></div>
      <atom-text-editor style="display:inline-block;width:calc(100% - 140px)" id="gamsSearch" v-on:keyup="updateVue()" v-model="searchString" class="editor mini" mini="" data-encoding="utf8" data-grammar="text plain null-grammar" placeholder-text="Search" tabindex="-1"></atom-text-editor>
    </div>
		<h1>{{name}}</h1>
		<div>{{type}}</div>
		<div>
			<h2 v-if="description">{{description}}</h2>
			<div v-if="domain">
				<h3>Domain</h3>
				<p v-for="elem in domain" :key="assigned.name" @click="updateValues(null,elem.name)">{{elem.name}}</p>
			</div>
			<h3 v-if="declared" @click="jumpToPosition(declared.file,declared.line,declared.column)">Declared in</h3>
			<p v-if="declared" @click="jumpToPosition(declared.file,declared.line,declared.column)">{{declared.base}}, {{declared.line}}</p>
			<h3 v-if="defined" @click="jumpToPosition(defined.file,defined.line,defined.column)">Defined in</h3>
			<p v-if="defined" @click="jumpToPosition(defined.file,defined.line,defined.column)">{{defined.base}}, {{defined.line}}</p>
			<div v-if="assigned">
				<h3  @click="assignedShown = !assignedShown">Assigned values in</h3>
				<button class="counter" type="button" name="button" @click="assignedShown = !assignedShown">{{assigned.length}}</button>
			</div>
			<div v-if="assigned && assignedShown">
				<div transition="expand">
					<p v-for="elem in assigned" :key="assigned.name" @click="jumpToPosition(elem.file,elem.line,elem.column)">{{elem.base}}, {{elem.line}}</p>
				</div>
			</div>
			<div v-if="implAsn">
				<h3 @click="implAsnShown = !implAsnShown">Implicitly assigned values in</h3>
				<button class="counter" type="button" name="button" @click="implAsnShown = !implAsnShown">{{implAsn.length}}</button>
			</div>
			<div v-if="implAsn && implAsnShown">
				<div transition="expand">
					<p v-for="elem in implAsn" :key="implAsn.name" @click="jumpToPosition(elem.file,elem.line,elem.column)">{{elem.base}}, {{elem.line}}</p>
				</div>
			</div>
			<div v-if="ref">
				<h3 @click="refShown = !refShown">Referenced in</h3>
				<button class="counter" type="button" name="button" @click="refShown = !refShown">{{ref.length}}</button>
			</div>
			<div v-if="ref && refShown">
				<div transition="expand">
					<p v-for="elem in ref" :key="ref.name" @click="jumpToPosition(elem.file,elem.line,elem.column)">{{elem.base}}, {{elem.line}}</p>
				</div>
			</div>
			<div v-if="control">
				<h3  @click="controlShown = !controlShown">Controlled in</h3>
				<button class="counter" type="button" name="button" @click="controlShown = !controlShown">{{control.length}}</button>
			</div>
			<div v-if="control && controlShown">
				<div transition="expand">
					<p v-for="elem in control" :key="control.name" @click="jumpToPosition(elem.file,elem.line,elem.column)">{{elem.base}}, {{elem.line}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="tree-panel" v-show="!noTagHint && grammarScope=='source.gams-lst'">
    <div class="gv-toolbox block">
      <atom-text-editor style="display:inline-block;width:100%" id="lstSearch" v-on:keyup="updateLst()" v-model="searchStringLst" class="editor mini" mini="" data-encoding="utf8" data-grammar="text plain null-grammar" placeholder-text="Search" tabindex="-1"></atom-text-editor>
    </div>
		<div v-if="lstTree">
			<div v-for="elem in lstTree">
				<h3 style="font-weight: normal; font-size: 1em; display: inline-block; line-height: 1em; padding-right: 7px; margin-top: 4px; margin-bottom: 4px;" @click="jumpToggle(elem)"> {{elem.type}} </h3>
				<button v-if="elem.entries" style="margin-top: 2px; margin-bottom: 2px;"class="counter" type="button" name="button" @click="jumpToggle(elem)"> {{elem.entries.length}} </button>
				<div v-if="elem.entries && elem.open" transition="expand">
					<p v-if="elem.entries" v-for="entry in elem.entries" :key="entry.name" @click="jumpToPosition(entry.file,entry.line,entry.column)">{{entry.name}}, {{entry.line}}</p>
				</div>
			</div>
		</div>
		<div v-if="assigned && assignedShown">
			<div transition="expand">
				<p v-for="elem in assigned" :key="assigned.name" @click="jumpToPosition(elem.file,elem.line,elem.column)">{{elem.base}}, {{elem.line}}</p>
			</div>
		</div>
	</div>
</div>
