<div id='gamsView' class='structure-view'>
	<div class="sv-toolbox block">
		<button class="inline-block-tight btn icon icon-screen-normal" value="collapse" title="Collapse All"></button>
		<button class="inline-block-tight btn icon icon-screen-full" value="expand" title="Expand All"></button>
		<button class="inline-block-tight btn icon icon-question" title="Guide"></button>
		<button class="inline-block-tight btn icon icon-settings" title="Settings"></button>
	</div>
	<div class="no-file-hint" v-show="noTagHint"><pre>{{noTagHint}}</pre></div>
	<div class="tree-panel" v-show="!noTagHint">
		<h1>{{name}}</h1>
		<div>
			<h2 v-if="description">{{description}}</h2>
			<div v-if="domain">
				<h3>Domain</h3>
				<p v-for="elem in domain" :key="assigned.name">{{elem.base}}, {{elem.line}}</p>
			</div>
			<h3 v-if="declared">Declared in {{declared.base}}, {{declared.line}}</h3>
			<h3 v-if="defined">Defined in {{defined.base}}, {{defined.line}}</h3>
			<div v-if="assigned">
				<h3>Assigned</h3>
				<p v-for="elem in assigned" :key="assigned.name">{{elem.base}}, {{elem.line}}</p>
			</div>
			<div v-if="implAsn">
				<h3 >Implicitly assigned</h3>
				<p v-for="elem in implAsn" :key="implAsn.name">{{elem.base}}, {{elem.line}}</p>
			</div>
			<div v-if="ref">
				<h3>Referenced</h3>
				<p v-for="elem in ref" :key="ref.name">{{elem.base}}, {{elem.line}}</p>
			</div>
			<div v-if="control">
				<h3 >Controlled</h3>
					<p v-for="elem in control" :key="control.name">{{elem.base}}, {{elem.line}}</p>
			</div>
		</div>
	</div>
	<div class="mask">
    <div>&nbsp;</div>
    <span class='loading loading-spinner-small inline-block'></span>
  </div>
</div>
